<!-- list titles -->
  <%= comment_heading_helper :checkbox =>true, :id => 'toggle_comments' %>

 <%  if(comments && !comments.empty?) %>
   <!-- list items -->
  <%= sortable_list(comments,
        :url => @reorder_url,
        :group => 'all',
        :list_type => 'comments'){ |comment|
          comment_row_helper(comment,:checkbox => true)
        }%>

  <!-- pagination -->
  <div class="footer">
    <%= yield :comment_list_footer %>
    &nbsp;
  </div>
 <% else %> 
  <div id="all_comments"></div>
 <% end %> 

