.row .category.col-description
{
  min-width:30%;
  max-width:30%;
}
.row .category.col-quantity
{
  max-width:10%;
  min-width:10%;
  text-align:center;
}

#category_description
{
  font-size:0.8em;
  height:275px;
}
